<div class="container">
    <%= render 'layouts/errors', :object => @book %>

        <%= form_for @book, :html => {:multipart => true} do |f| %>
            <%= f.label :title %>
                <br>
                <%= f.text_field :title %>
                    <br>
                    <%= f.file_field :image %>
                        <br>
                        <%= f.label :context %>
                            <br>
                            <%= f.text_area :context, value: '##sub-title', rows: '25', cols: '70'%>
                                <br>
                                <%= f.submit %>
                                    <% end %>
</div>