<h2>
  <%= image_tag @book.image_url.to_s %>
  <%= @book.title %>
</h2>
<p><%= markdown(@book.context) %></p>
<p><%= link_to "Edit", edit_book_path(@book) %>|
  <%= link_to "Delete", book_path(@book),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} %>|
</p>
