<%# Landing/Header  section %>
    <div class="row" id="wrap-head">
        <div id="logo">
            <div id="logocontainer">
                <img class="topics" id="css3" src="//inf3cti0n95.github.io/img/css3.svg">
                <img class="topics" id="html5" src="//inf3cti0n95.github.io/img/html5.svg">
                <img class="topics" id="sass" src="//inf3cti0n95.github.io/img/sass.svg">
                <img class="topics" id="js" src="//inf3cti0n95.github.io/img/js.svg">
                <img class="topics" id="php" src="//inf3cti0n95.github.io/img/php.svg">
                <section class="window" id="terminal">
                    <header class="window-header">
                        <nav class="window-controls">
                            <span class="control-item control-minimize js-minimize">‒</span>
                            <span class="control-item control-maximize js-maximize">□</span>
                            <span class="control-item control-close js-close">˟</span>
                        </nav>
                    </header>
                    <main class="window-content">
                        <div class="window-cursor">
                            <span class="i-cursor-indicator">></span><span class="i-cursor-underscore"></span>
                            <input type="text" class="window-input js-prompt-input" />
                        </div>
                    </main>
                </section>
                <div class="prompt-shortcut i-prompt hidden js-open"></div>


                <svg id="retina" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
			<path id="Retina2" class="st9" d="M222,186.3l-5.1,4.9l2.1-6.7c-0.7-0.2-1.3-0.3-2.1-0.3c-3.9,0-7.1,3.2-7.1,7.1
			c0,3.9,3.2,7.1,7.1,7.1c3.9,0,7.1-3.2,7.1-7.1C224,189.2,223.3,187.5,222,186.3z"/>
			<path id="Retina1" class="st9" d="M281.6,186.3l-5.1,4.9l2.1-6.7c-0.7-0.2-1.3-0.3-2.1-0.3c-3.9,0-7.1,3.2-7.1,7.1
			c0,3.9,3.2,7.1,7.1,7.1c3.9,0,7.1-3.2,7.1-7.1C283.5,189.2,282.8,187.5,281.6,186.3z"/>
		</svg>
                <img id="sanky" src="//inf3cti0n95.github.io/img/sanky.svg">

            </div>
        </div>

    </div>


    <!-- ##### Jumbotron section ####### -->

    <div class="jumbotron jumbotron-billboard" style="margin:5%;">
        <div class="img"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="text-shadow: 2px 2px black;color:white; ">
                        <strong>KIDZDEV</strong> EMPOWERS KIDS TO BECOME MAKERS
                    </h2>

                    <p style="font-size:20px;color:antiquewhite;text-shadow: 2px 2px black;">Create and account to save your progress and projects,Or just start coding-<br/>no account needed.All courses are available at no cost</p>
                    <a href="#" class="btn btn-success btn-lg">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ####### End jumbotron section ########## -->


    <!-- ########################################### GRID LAYOUT LANGUAGE ############################ -->

    <div class="container">
        <div class="well well-sm">
            <strong>Languages</strong>
            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List</a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid</a>
            </div>
        </div>
        <div id="categories-list" class="row list-group">
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                    <%= image_tag  'html5.svg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:223px;' %>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <%= link_to  "A Fun way to learn HTML" %>
                            </h4>
                            <p class="group inner list-group-item-text">
                                Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        GET STARTED</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Learn</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                    <%= image_tag  'cssisgood.png', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:224px;' %>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <%= link_to  "A Fun way to learn CSS" %>
                            </h4>
                            <p class="group inner list-group-item-text">
                                Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        GET STARTED</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Learn</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                    <%= image_tag  'python1.jpeg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:224px;'%>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <%= link_to  "A Fun way to learn PYTHON" %>
                            </h4>
                            <p class="group inner list-group-item-text">
                                Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        GET STARTED</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Learn</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                    <%= image_tag  'ruby4kids.jpeg', alt:'rubylogo',class:'group list-group-image',style: 'width:400px;height:150px;' %>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <%= link_to  "A Fun way to learn RUBY" %>
                            </h4>
                            <p class="group inner list-group-item-text">
                                Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        GET STARTED</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Learn</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                    <%= image_tag  'javascript.jpg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:150px;' %>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <%= link_to  "A Fun way to learn JAVASCRIPT" %>
                            </h4>
                            <p class="group inner list-group-item-text">
                                Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        GET STARTED</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Learn</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
                    <%= image_tag  'cplusplus.jpg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:150px;' %>
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading">
                                <%= link_to  "A Fun way to learn C++" %>
                            </h4>
                            <p class="group inner list-group-item-text">
                                Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
                            </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        GET STARTED</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <a class="btn btn-success" href="http://www.jquery2dotnet.com">Learn</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ############################################### Table ############################################### -->
    <div class="container" id="explore-more">
        <h1 style="color:white;">
            <span class="blue">&lt;</span>explore<span class="blue">&gt;</span>
            <span class="yellow">More</pan>
</h1>
<p style="color:white;text-align:center;">Start exploring your favourite programming langugage<a href="http://pablogarciafernandez.com" target="_blank">It's fun</a>
</p>

<table class="table-container" >
  <!-- <colgroup span="4"></colgroup> -->
  <tr >
    <th style="color:antiquewhite;">
      <%= link_to 'HTML',category_path(@html) %>
    </th>
    <th>
      <%= link_to 'CSS',category_path(@css) %>
    </th>
    <th>
      <%= link_to 'PYTHON',category_path(@python) %>
    </th>
    <th>
      <%= link_to 'RUBY',category_path(@ruby) %>
    </th>
    <th>
      <%= link_to 'JAVASCRIPT',category_path(@javascript) %>
    </th>
    <th>
      <%= link_to 'C++',category_path(@cplus) %>
    </th>
  </tr>
  <tr>
    <td>
      <% @html.subcategories.each do |subcategory| %>
      <ul style="list-style: none">
        <li>
          <%= link_to subcategory.name, category_subcategory_path(@html,subcategory) %>
        </li>
      </ul>
      <%end%>

    </td>
    <td>
      <% @css.subcategories.each do |subcategory| %>
      <ul style="list-style: none">
        <li>
          <%= link_to subcategory.name, category_subcategory_path(@css,subcategory) %>
        </li>
      </ul>
      <%end%>
    </td>
    <td>
      <% @python.subcategories.each do |subcategory| %>
      <ul style="list-style: none">
        <li>
          <%= link_to subcategory.name ,category_subcategory_path(@python,subcategory)%>
        </li>
      </ul>
      <%end%>
    </td>
    <td>
      <% @ruby.subcategories.each do |subcategory| %>
      <ul style="list-style: none">
        <li>
          <%= link_to subcategory.name ,category_subcategory_path(@ruby,subcategory)%>
        </li>
      </ul>
      <%end%>
    </td>
    <td>
      <% @javascript.subcategories.each do |subcategory| %>
      <ul style="list-style: none">
        <li>
          <%= link_to subcategory.name, category_subcategory_path(@javascript,subcategory)%>
        </li>
      </ul>
      <%end%>
    </td>
    <td>
      <% @cplus.subcategories.each do |subcategory| %>
      <ul style="list-style: none">
        <li>
          <%= link_to subcategory.name ,category_subcategory_path(@cplus,subcategory)%>
        </li>
      </ul>
      <%end%>
    </td>
  </tr>

</table>

</div>

<!-- ################################### END GRID LAYOUT LANGUAGE ################################ -->



<!-- ################################## STYLING AND SCRIPT ################## -->
<!-- ############################################### js css and what not ######################## -->
<style>
  .glyphicon {
    margin-right: 5px;
  }

  .thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .item.list-group-item:hover,
  .item.list-group-item:nth-of-type(odd):hover {
    background: white !important;
  }

  .item.list-group-item .list-group-image {
    margin-right: 10px;
  }

  .item.list-group-item .thumbnail {
    margin-bottom: 0;
  }

  .item.list-group-item .caption {
    padding: 9px 9px 0;
  }
  .item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
  }
  .item.list-group-item:after,
  .item.list-group-item:before {
    display: table;
    content: " ";
  }

  .item.list-group-item img {
    float: left;
  }
  .item.list-group-item:after {
    clear: both;
  }

  .list-group-item-text {
    margin: 0 0 11px;
  }

</style>
<script>
  // View en grid et liste pour categories
  $(document).ready(function () {
    $('#list').click(function (event) {
      event.preventDefault();
      $('#categories-list .item').addClass('list-group-item');
    });
    $('#grid').click(function (event) {
      event.preventDefault();
      $('#categories-list .item').removeClass('list-group-item');
      $('#categories-list .item').addClass('grid-group-item');
    });
  });
</script>

<!-- ################ for animate landing ################ -->

<script>
  var tl = new TimelineLite();
tl.staggerFrom(".topics", 3, {
  css:{transform:"scale(0)",top:"60%",left:"50%"},ease:Elastic.easeOut
}, 0.3);


var js = document.getElementById("js");
var sass = document.getElementById("sass");
var php = document.getElementById("php");
var css3 = document.getElementById("css3");
var hmtl5 = document.getElementById("html5");
var topics = document.getElementsByClassName("topics");


js.addEventListener("mouseover",jsretina,false);
js.addEventListener("touchstart",jsretina,false);
html5.addEventListener("mouseover",html5retina,false);
html5.addEventListener("touchstart",html5retina,false);
sass.addEventListener("mouseover",sassretina,false);
sass.addEventListener("touchstart",sassretina,false);
php.addEventListener("mouseover",phpretina,false);
php.addEventListener("touchstart",phpretina,false);
css3.addEventListener("mouseover",css3retina,false);
css3.addEventListener("touchstart",css3retina,false);

function jsretina(event) {
	TweenMax.to("#retina", 0.2, {left:"51%",top:"59.5%"});
}

function html5retina(event) {
	TweenMax.to("#retina", 0.2, {left:"49%",top:"59.5%"});
}

function css3retina(event) {
	TweenMax.to("#retina", 0.2, {left:"49%",top:"60.5%"});
}

function phpretina(event) {
	TweenMax.to("#retina", 0.2, {left:"51%",top:"60.5%"});
}

function sassretina(event) {
	TweenMax.to("#retina", 0.2, {left:"50%",top:"59%"});
}


for(var i=0; i< topics.length; i++){
	topics[i].addEventListener("mouseout",retinaout);
}
function retinaout(event) {
		TweenMax.to("#retina", 0.2, {left:"50%",top:"60%"});
}
</script>
