<%= render "layouts/navbar" %>
<div class="container">
  <div class="well well-sm">
    <strong>Languages</strong>
    <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list"></span>List</a>
      <a href="#" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>
  <div id="categories-list" class="row list-group">
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
        <%= image_tag  'html5.svg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:250px;' %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to  "A Fun way to learn HTML" %>
          </h4>
          <p class="group inner list-group-item-text">
            Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                GET STARTED</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">CODE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
        <%= image_tag  'cssisgood.png', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:250px;' %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to  "A Fun way to learn CSS" %>
          </h4>
          <p class="group inner list-group-item-text">
            Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                GET STARTED</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">CODE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
        <%= image_tag  'python1.jpeg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:250px;' %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to  "A Fun way to learn PYTHON" %>
          </h4>
          <p class="group inner list-group-item-text">
            Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                GET STARTED</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">CODE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
        <%= image_tag  'ruby4kids.jpeg', alt:'rubylogo',class:'group list-group-image',style: 'width:400px;height:250px;' %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to  "A Fun way to learn RUBY" %>
          </h4>
          <p class="group inner list-group-item-text">
            Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                GET STARTED</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">CODE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
        <%= image_tag  'javascript.jpg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:250px;' %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to  "A Fun way to learn JAVASCRIPT" %>
          </h4>
          <p class="group inner list-group-item-text">
            Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                GET STARTED</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">CODE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
        <!-- <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /> -->
        <%= image_tag  'cplusplus.jpg', alt:'html5logo',class:'group list-group-image',style: 'width:400px;height:250px;' %>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= link_to  "A Fun way to learn C++" %>
          </h4>
          <p class="group inner list-group-item-text">
            Coding Made Easy Everything your child needs to learn computer programming the fun way! Ages 7+
          </p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">
                GET STARTED</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" href="http://www.jquery2dotnet.com">CODE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ############################################### Table ############################################### -->
<div class="container">

  <p>Get resources for your Learning</p>
  <table>
    <colgroup span="4"></colgroup>
    <tr>
      <th>
        <%= link_to 'HTML',category_path(@html) %>
      </th>
      <th>
        <%= link_to 'CSS',category_path(@css) %>
      </th>
      <th>
        <%= link_to 'PYTHON',category_path(@python) %>
      </th>
      <th>
        <%= link_to 'RUBY',category_path(@ruby) %>
      </th>
      <th>
        <%= link_to 'JAVASCRIPT',category_path(@javascript) %>
      </th>
      <th>
        <%= link_to 'C++',category_path(@cplus) %>
      </th>
    </tr>
    <tr>
      <td>
        <% @html.subcategories.each do |subcategory| %>
        <ul>
          <li>
            <%= link_to subcategory.name, category_subcategory_path(@html,subcategory) %>
          </li>
        </ul>
        <%end%>

      </td>
      <td>
        <% @css.subcategories.each do |subcategory| %>
        <ul>
          <li>
            <%= link_to subcategory.name, category_subcategory_path(@css,subcategory) %>
          </li>
        </ul>
        <%end%>
      </td>
      <td>
        <% @python.subcategories.each do |subcategory| %>
        <ul>
          <li>
            <%= link_to subcategory.name ,category_subcategory_path(@python,subcategory)%>
          </li>
        </ul>
        <%end%>
      </td>
      <td>
        <% @ruby.subcategories.each do |subcategory| %>
        <ul>
          <li>
            <%= link_to subcategory.name ,category_subcategory_path(@ruby,subcategory)%>
          </li>
        </ul>
        <%end%>
      </td>
      <td>
        <% @javascript.subcategories.each do |subcategory| %>
        <ul>
          <li>
            <%= link_to subcategory.name, category_subcategory_path(@javascript,subcategory)%>
          </li>
        </ul>
        <%end%>
      </td>
      <td>
        <% @cplus.subcategories.each do |subcategory| %>
        <ul>
          <li>
            <%= link_to subcategory.name ,category_subcategory_path(@cplus,subcategory)%>
          </li>
        </ul>
        <%end%>
      </td>
    </tr>

  </table>
</div>

<!-- ############################################### js css and what not ######################## -->
<style>
  .glyphicon {
    margin-right: 5px;
  }

  .thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .item.list-group-item:hover,
  .item.list-group-item:nth-of-type(odd):hover {
    background: #428bca;
  }

  .item.list-group-item .list-group-image {
    margin-right: 10px;
  }

  .item.list-group-item .thumbnail {
    margin-bottom: 0;
  }

  .item.list-group-item .caption {
    padding: 9px 9px 0;
  }
  .item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
  }
  .item.list-group-item:after,
  .item.list-group-item:before {
    display: table;
    content: " ";
  }

  .item.list-group-item img {
    float: left;
  }
  .item.list-group-item:after {
    clear: both;
  }

  .list-group-item-text {
    margin: 0 0 11px;
  }

</style>
<script>
  // View en grid et liste pour categories
  $(document).ready(function () {
    $('#list').click(function (event) {
      event.preventDefault();
      $('#categories-list .item').addClass('list-group-item');
    });
    $('#grid').click(function (event) {
      event.preventDefault();
      $('#categories-list .item').removeClass('list-group-item');
      $('#categories-list .item').addClass('grid-group-item');
    });
  });
</script>
