<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
            <a class="navbar-brand" href="/">
                <%= image_tag  "Logomakr_5qtvb8.png", class: "d-inline-block align-top " ,style: "width:100%" %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/about">ABOUT
               <span class="sr-only">Toggle navigation</span>
               </a>
                </li>
                <li>
                    <a href="/quiz">QUIZ TIME</a>
                </li>
                <li>
                    <a href="/contacts">CONTACT US</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if current_user.nil? %>
                    <li>
                        <%= link_to "Sign In", new_user_session_path %>
                    </li>
                    <li>
                        <%= link_to "Sign Up", new_user_registration_path%>
                    </li>
                    <% else %>
                        <li>
                            <%= link_to "LESSONS", lessons_path %>
                                </a>
                        </li>
                        <li class="dropdown">
                            <a href="/categories" class="dropdown-toggle" data-toggle="dropdown">LESSONS<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li><a href="#">JAVASCRIPT</a></li>
                                <li class="divider"></li>
                                <li><a href="#">EXPLORE</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "BOOKS", books_path %>
                                </a>
                        </li>
                        <li>
                            <a href="/help">HELP</a>
                        </li>
                        <li>
                            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                                </a>
                        </li>
                        <% end %>
            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
    $(document).ready(function() {
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>